extends layout

block content
  h1(class="display-5 text-center mt-2 mb-5")= title
  
  if author_list.length > 0
    .container
      .row
        each author in author_list
          .col-3
            div(class="card mb-3" style="width: 13rem; height: 16rem;")
              img(src='/writer.png', alt='writer Cover', class='card-img-top mx-auto')
              div(class="card-body text-center")
                h5(class="card-title") 
                 a(href=author.url class="card-link") #{author.name}
  else
    li There are no authors.



