extends layout

block content 


  h6.display-6.text-center.mb-5.mt-3 Book Club
  .container
        .row 
          .col-5.mt-4 
            h2 Introduction
            p(class="lead" style="text-align:justify;") Welcome to our Book Club! Here, you have the power to explore, create, edit, and manage a world of literary wonders. Our platform allows you to create, read, update, and delete books, authors, book instances, and genres. Join us on this exciting journey through the pages of literature and unleash your love for books!
            p
              a.btn.btn-outline-primary(href='catalog/Books') Start journey
          .col-7
            img(src="/background.png", alt="background", class="img-fluid")

